html {
  font-family: Roboto Slab, serif;
  background-color: #f1d1c7;
}

.cookbook {
  font-size: 30px;
}

.logo {
  width: 64px;
}

.cookbook {
  font-family: 'Julius Sans One', sans-serif;
  color: #f28970;
}

a:focus {
  outline: 3px solid #fff;
}

.small-flex {
  max-width: 50%;
  max-height: 70%;
}

.masthead {
  background-color: none;
}

.nav a {
  color: #f28970;
  text-decoration: none;
}

li a:hover {
  border-radius: 5px;
  border-width: 4px;
  border-color: #f28970;
  border-style: inset;
}

.btn {
  border-radius: 6px;
  border-width: 4px;
  border-color: #f38970;
  border-style: solid;
  color: #bb4420;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: #f28970;
  border-radius: 10px;
  border-width: 4px;
  border-color: #bb4420;
}

.card {
  border: #;
  border-radius: 25px;
  transition: 250ms;
  margin: .5rem auto;
  padding: 1rem;
  max-width: 25em;
}

p {
  font-family: serif;
  font-size: 15px;
  font-style: normal;
  color: #333;
}

.footer {
  background-color: #f28970;
  transition: background-color .2s ease;
}


.photo{
    float: right;
    width: 40%;
}
